.x0 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 2px;
  min-height: 174px;
  position: relative;
  width: 295px;
}

.flex-row-6 {
  align-items: flex-start;
  display: flex;
  margin-right: 2.78px;
  margin-top: 2px;
  min-width: 81px;
}

.hearticonpalepink-2 {
  height: 15px;
  margin-top: 0.5px;
  object-fit: cover;
  width: 15px;
}

.overlap-group-10 {
  height: 20px;
  margin-left: 8px;
  position: relative;
  width: 58px;
}

.tttt-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.hearticonpalepink-3 {
  height: 15px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 15px;
}

.x0.x29-item {
  margin-top: 98px;
}

