.detailed-header {
  background-color: var(--remy);
  display: flex;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.x6 {
  align-items: flex-end;
  display: flex;
  height: 27px;
  margin-left: 150.5px;
  margin-top: 45px;
  width: 74px;
}

.kozipro {
  height: 29px;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -5.5px;
  text-align: center;
  white-space: nowrap;
  width: 74px;
}

.detailed-header.detailed-header-10 .x6 {
  margin-left: 129.5px;
  width: 116px;
}

.detailed-header.detailed-header-10 .kozipro {
  width: 116px;
}

.detailed-header.detailed-header-11 .x6,
.detailed-header.detailed-header-12 .x6 {
  margin-left: 135.5px;
  width: 104px;
}

.detailed-header.detailed-header-11 .kozipro,
.detailed-header.detailed-header-12 .kozipro {
  width: 104px;
}

.detailed-header.detailed-header-13 .x6,
.detailed-header.detailed-header-14 .x6 {
  margin-left: 145.5px;
  width: 84px;
}

.detailed-header.detailed-header-13 .kozipro,
.detailed-header.detailed-header-14 .kozipro {
  width: 84px;
}

