.detailed-header,
.detailed-header-1,
.detailed-header-2,
.detailed-header-3,
.detailed-header-4,
.detailed-header-5,
.detailed-header-6,
.detailed-header-7 {
  align-items: flex-end;
  background-color: var(--remy);
  display: flex;
  height: 90px;
  left: 0;
  min-width: 375px;
  padding: 19px 150.5px;
  position: absolute;
  top: 0;
}

.x6,
.x6-1,
.x6-2,
.x6-3,
.x6-4,
.x6-5,
.x6-6,
.x6-7 {
  display: flex;
  height: 24px;
  width: 74px;
}

.kozipro,
.kozipro-1,
.kozipro-2,
.kozipro-3,
.kozipro-4,
.kozipro-5,
.kozipro-6,
.kozipro-7 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -4px;
  margin-right: -2px;
  margin-top: 2px;
  text-align: center;
  white-space: nowrap;
  width: 74px;
}

