.x70-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 46px;
  justify-content: space-between;
  margin-left: 97px;
  position: relative;
  width: 57px;
}

.x8-1 {
  height: 29.71px;
  margin-right: 11.5px;
  margin-top: 0;
  object-fit: cover;
  width: 32.11px;
}

.x70-1.x70-2 .x8-1 {
  height: 29.71px;
}

.x70-1.x70-3 .x8-1,
.x70-1.x70-5 .x8-1 {
  width: 32.11px;
}

.x70-1.x70-4 {
  margin-left: 96px;
}

