.x69 {
  align-items: flex-end;
  display: flex;
  margin-left: 94px;
  margin-top: 2.73px;
  min-width: 34px;
}

.overlap-group1-1 {
  height: 44px;
  position: relative;
  width: 36px;
}

.x7 {
  height: 28px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 30px;
}

.x69.x69-3,
.x69.x69-5,
.x69.x69-6,
.x69.x69-7 {
  margin-left: 95px;
}

