.explanation5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 812px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.overlap-group7-4 {
  height: 639px;
  margin-top: 90px;
  position: relative;
  width: 377px;
  z-index: 1;
}

.text-9 {
  left: 69px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 480px;
  white-space: nowrap;
}

