@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "SFPro Text-Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("static/fonts/SF-Pro-Text-Semibold.otf") format("opentype");
}
@font-face {
  font-family: "SFPro Text-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/SF-Pro-Text-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SFPro-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/SF-Pro.ttf") format("truetype");
}
@font-face {
  font-family: "Meiryo-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/Meiryo Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SFCompact-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/SF-Compact.ttf") format("truetype");
}
@font-face {
  font-family: "SFCompact-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/SF-Compact.ttf") format("truetype");
}
@font-face {
  font-family: "MyriadConceptRoman-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/Myriad Roman Regular.ttf") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-end {
  align-self: flex-end;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}
