:root { 
  --alto: #dfdbdbf7;
  --black: #000000;
  --brick-red: #c34145;
  --dove-gray: #707070;
  --mist-gray: #c4c4c6a3;
  --mountain-mist: #93939a;
  --my-pink: #d395854d;
  --new-york-pink: #d77979;
  --remy: #fdeaef;
  --sundown: #fab2b7;
  --white: #ffffff;
  --white-2: #ffffffa3;
 
  --font-size-l: 17px;
  --font-size-m: 15px;
  --font-size-s: 13px;
  --font-size-xl: 20px;
  --font-size-xs: 10px;
  --font-size-xxl: 21px;
  --font-size-xxxl: 25px;
 
  --font-family-meiryo-bold: "Meiryo-Bold", Helvetica;
  --font-family-meiryo-regular: "Meiryo-Regular", Helvetica;
  --font-family-myriadconceptroman-regular: "MyriadConceptRoman-Regular", Helvetica;
  --font-family-sfcompact-bold: "SFCompact-Bold", Helvetica;
  --font-family-sfcompact-regular: "SFCompact-Regular", Helvetica;
  --font-family-sfpro-bold: "SFPro-Bold", Helvetica;
  --font-family-sfpro_text-regular: "SFPro Text-Regular", Helvetica;
  --font-family-sfpro_text-semibold: "SFPro Text-Semibold", Helvetica;
}
.sfprotext-regular-normal-mountain-mist-15px {
  color: var(--mountain-mist);
  font-family: var(--font-family-sfpro_text-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.sfcompact-bold-dove-gray-13px {
  color: var(--dove-gray);
  font-family: var(--font-family-sfcompact-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.meiryo-bold-alto-21px {
  color: var(--alto);
  font-family: var(--font-family-meiryo-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.sfpro-bold-black-20px {
  color: var(--black);
  font-family: var(--font-family-sfpro-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.sfprotext-semi-bold-white-17px {
  color: var(--white);
  font-family: var(--font-family-sfpro_text-semibold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.myriadconceptroman-regular-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-myriadconceptroman-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.sfprotext-regular-normal-new-york-pink-20px {
  color: var(--new-york-pink);
  font-family: var(--font-family-sfpro_text-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.sfcompact-regular-normal-new-york-pink-20px {
  color: var(--new-york-pink);
  font-family: var(--font-family-sfcompact-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.meiryo-regular-normal-white-33px {
  color: var(--white);
  font-family: var(--font-family-meiryo-regular);
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
}

.sfcompact-bold-brick-red-13px {
  color: var(--brick-red);
  font-family: var(--font-family-sfcompact-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.border-1px-my-pink {
  border: 1px solid var(--my-pink);
}

.border-2px-mist-gray {
  border: 2px solid var(--mist-gray);
}

.border-1px-mountain-mist {
  border: 1px solid var(--mountain-mist);
}
