.x13-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x13-1 {
  align-items: flex-start;
  display: flex;
  height: 469px;
  left: 0;
  min-width: 377px;
  overflow: scroll;
  position: absolute;
  top: 0;
}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -54px;
  margin-top: -30px;
  min-height: 475px;
  width: 291px;
}

.flex-row-1 {
  align-items: center;
  display: flex;
  height: 324px;
  min-width: 291px;
}

.overlap-group3-2 {
  height: 129px;
  margin-top: 29.0px;
  position: relative;
  width: 102px;
}

.place-2 {
  left: 18px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  min-height: 324px;
  width: 160px;
}

.overlap-group-26 {
  height: 129px;
  position: relative;
  width: 102px;
}

.overlap-group-30 {
  align-self: flex-end;
  height: 129px;
  margin-top: 66px;
  position: relative;
  width: 102px;
}

.me-2 {
  left: 33px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overlap-group2-16 {
  height: 129px;
  margin-left: 44px;
  margin-top: 22px;
  position: relative;
  width: 102px;
}

.flex-col-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 7.0px;
  min-height: 334px;
  width: 162px;
}

.overlap-group5-2 {
  align-self: flex-end;
  height: 129px;
  margin-top: 76px;
  position: relative;
  width: 102px;
}

.x13-1.x13-3 {
  left: 4px;
}

.x13-1.x13-4 {
  height: 639px;
}

.x13-1.x13-4 .flex-col-5 {
  align-self: unset;
  margin-top: 71px;
}

