.explanation6 {
  align-items: flex-start;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.overlap-group13 {
  height: 639px;
  margin-left: -4px;
  margin-top: 90.5px;
  position: relative;
  width: 378px;
  z-index: 1;
}

.x27::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x27 {
  align-items: flex-start;
  display: flex;
  height: 639px;
  left: 0;
  min-width: 378px;
  overflow: scroll;
  padding: 18.5px 37.5px;
  position: absolute;
  top: 0;
}

.x103 {
  display: flex;
  height: 383px;
  width: 290px;
}

.x102 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100%;
  width: 290px;
}

.flex-row-6 {
  align-items: flex-start;
  display: flex;
  height: 304px;
  margin-top: 2px;
  min-width: 290px;
}

.flex-col-14 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 284px;
  width: 239px;
}

.overlap-group8-1 {
  height: 53px;
  margin-left: 32px;
  position: relative;
  width: 42px;
}

.place-5 {
  left: 7px;
  letter-spacing: 0;
  line-height: 8px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.flex-row-7 {
  align-items: center;
  display: flex;
  height: 210px;
  margin-top: 21px;
  min-width: 239px;
}

.overlap-group7-5 {
  height: 53px;
  margin-top: 41.0px;
  position: relative;
  width: 42px;
}

.flex-col-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 38px;
  min-height: 210px;
  width: 159px;
}

.flex-row-8 {
  align-items: center;
  display: flex;
  min-width: 151px;
}

.overlap-group3-5 {
  height: 53px;
  margin-top: 14.0px;
  position: relative;
  width: 42px;
}

.overlap-group11-1 {
  height: 141px;
  margin-left: 5px;
  position: relative;
  width: 104px;
}

.overlap-group10-4 {
  height: 96px;
  left: 22px;
  position: absolute;
  top: 45px;
  width: 82px;
}

.overlap-group-33 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 43px;
  width: 42px;
}

.me-5 {
  color: var(--sundown);
  font-family: var(--font-family-meiryo-bold);
  font-size: var(--font-size-xxxxxs);
  font-weight: 700;
  left: 13px;
  letter-spacing: 0;
  line-height: 8px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overlap-group1-16 {
  height: 53px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 42px;
}

.overlap-group4 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.flex-row-9 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 68px;
  margin-top: 1px;
  min-width: 144px;
}

.overlap-group2-21 {
  align-self: flex-end;
  height: 53px;
  position: relative;
  width: 42px;
}

.overlap-group5-4 {
  height: 53px;
  margin-left: 60px;
  position: relative;
  width: 42px;
}

.overlap-group9 {
  height: 53px;
  margin-left: 9px;
  position: relative;
  width: 42px;
}

.overlap-group6-5 {
  height: 53px;
  margin-right: 4px;
  margin-top: 24px;
  position: relative;
  width: 42px;
}

.text-7 {
  left: 52px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 478px;
  white-space: nowrap;
}

