.photochoose1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.simplified-header-4 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  min-width: 375px;
  z-index: 2;
}

.overlap-group-6 {
  height: 90px;
  position: relative;
  width: 375px;
}

.overlap-group-item {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.x20-4 {
  height: 21px;
  left: 338px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 25px;
}

.x19-4 {
  cursor: pointer;
  height: 25px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 22px;
}

.flex-row-3 {
  align-items: center;
  display: flex;
  height: 241px;
  margin-right: 0.59px;
  margin-top: 32px;
  min-width: 317px;
  position: relative;
  z-index: 1;
}

.flex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  min-height: 241px;
  width: 205px;
}

.x5 {
  height: 205px;
  object-fit: cover;
  width: 205px;
}

.add-photo {
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 2.53px;
  margin-top: 16px;
  min-height: 20px;
  min-width: 76px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
}

