.login1 {
  background-color: var(--white);
  height: 100vh;
  min-height: 812px;
  min-width: 375px;
  position: relative;
  width: 100%;
}

.loginf {
  align-items: center;
  bottom: calc(33.71% - 35px);
  display: flex;
  flex-direction: column;
  min-height: 103px;
  position: fixed;
  right: calc(48.83% - 144px);
  width: 295px;
}

.overlap-group {
  height: 26px;
  margin-left: 1.95px;
  position: relative;
  width: 297px;
}

.line1 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 23px;
  width: 295px;
}

.id {
  background-color: transparent;
  border: 0;
  height: 26px;
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 297px;
}

.id::placeholder,
.password::placeholder {
  color: #93939a99;
}

.pwline {
  display: flex;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  margin-top: 19px;
  width: 295px;
}

.password {
  background-color: transparent;
  border: 0;
  flex: 1;
  height: 20px;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 0.2px;
  margin-right: -2.0px;
  max-height: 20px;
  padding: 0;
}

.line2 {
  flex: 1;
  height: 2px;
  margin-bottom: -0.5px;
  margin-left: 0;
  margin-right: 0;
  max-height: 2px;
  object-fit: cover;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-left: 16.22px;
  margin-top: 17px;
  min-width: 244px;
}

.text-1 {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 20px;
  min-width: 164px;
  text-align: center;
  white-space: nowrap;
}

.click-here {
  color: #cc5d5d;
  cursor: pointer;
  font-family: var(--font-family-sfpro_text-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 8px;
  min-height: 20px;
  min-width: 72px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
}

