.put-person-name-2-1 {
  align-items: flex-end;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  margin-top: 12px;
  min-width: 295px;
}

.overlap-group-11 {
  height: 28px;
  margin-bottom: -1.5px;
  position: relative;
  width: 297px;
}

.x5-6 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 295px;
}

.name {
  background-color: transparent;
  border: 0;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 297px;
}

.name::placeholder {
  color: #93939a99;
}

.put-person-name-2-1.put-person-name-3 {
  flex: 1;
  height: 26.5px;
  margin-left: 4.9px;
  margin-right: 4.9px;
  margin-top: unset;
  max-height: 26.5px;
  min-width: calc(100.00% - 10px);
}

