.detailed-header-1 {
  background-color: var(--remy);
  display: flex;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.x6-2 {
  align-items: flex-end;
  display: flex;
  height: 27px;
  margin-left: 145.5px;
  margin-top: 45px;
  width: 84px;
}

.message-13 {
  height: 29px;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -5.5px;
  text-align: center;
  white-space: nowrap;
  width: 84px;
}

.detailed-header-1.detailed-header-3 .x6-2,
.detailed-header-1.detailed-header-4 .x6-2,
.detailed-header-1.detailed-header-5 .x6-2,
.detailed-header-1.detailed-header-6 .x6-2,
.detailed-header-1.detailed-header-7 .x6-2,
.detailed-header-1.detailed-header-8 .x6-2,
.detailed-header-1.detailed-header-9 .x6-2,
.detailed-header-1.detailed-header-10 .x6-2,
.detailed-header-1.detailed-header-11 .x6-2,
.detailed-header-1.detailed-header-12 .x6-2,
.detailed-header-1.detailed-header-15 .x6-2 {
  margin-left: 150.5px;
  width: 74px;
}

.detailed-header-1.detailed-header-3 .message-13,
.detailed-header-1.detailed-header-4 .message-13,
.detailed-header-1.detailed-header-5 .message-13,
.detailed-header-1.detailed-header-6 .message-13,
.detailed-header-1.detailed-header-7 .message-13,
.detailed-header-1.detailed-header-8 .message-13,
.detailed-header-1.detailed-header-9 .message-13,
.detailed-header-1.detailed-header-10 .message-13,
.detailed-header-1.detailed-header-11 .message-13,
.detailed-header-1.detailed-header-12 .message-13,
.detailed-header-1.detailed-header-15 .message-13 {
  width: 74px;
}

.detailed-header-1.detailed-header-13 .x6-2,
.detailed-header-1.detailed-header-14 .x6-2 {
  margin-left: 135.5px;
  width: 104px;
}

.detailed-header-1.detailed-header-13 .message-13,
.detailed-header-1.detailed-header-14 .message-13 {
  width: 104px;
}

.detailed-header-1.detailed-header-16 .x6-2 {
  margin-left: 129.5px;
  width: 116px;
}

.detailed-header-1.detailed-header-16 .message-13 {
  width: 116px;
}

