.eventactivity2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.x109 {
  align-items: flex-start;
  display: flex;
  height: 234px;
  left: 0;
  min-width: 376px;
  position: fixed;
  top: 140px;
  z-index: 4;
}

.overlap-group1-3 {
  align-items: center;
  background: linear-gradient(0deg, #ee9ca3 0%, #c15f62 0%, #c26264 20.8%, #c56b6e 36.64%, #cc7c7e 50.84%, #d59395 64.07%, #e0b0b2 76.65%, #eed4d5 88.55%, #ffffff 100%);
  border: 0.8px solid var(--white);
  display: flex;
  height: 235px;
  margin-top: -0.38px;
  min-width: 377px;
  padding: 10.7px 15.5px;
}

.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 22.76px;
  min-height: 142px;
  width: 19px;
}

.number {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: -6px;
  min-height: 12px;
  white-space: nowrap;
}

.number-1 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: -6px;
  margin-top: 54px;
  min-height: 12px;
  white-space: nowrap;
}

.number-2 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: -6px;
  margin-left: 3.0px;
  margin-top: 52px;
  min-height: 12px;
  white-space: nowrap;
}

.flex-col-5 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  min-height: 171px;
  width: 319px;
}

.overlap-group-8 {
  height: 146px;
  position: relative;
  width: 319px;
}

.x8-2 {
  height: 1px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 315px;
}

.x9 {
  height: 1px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 78px;
  width: 315px;
}

.x10 {
  height: 1px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 143px;
  width: 315px;
}

.x24 {
  height: 146px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 316px;
}

.flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 12px;
  margin-right: 3.01px;
  margin-top: 13px;
  min-width: 311px;
}

.text-2 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 12px;
  min-width: 21px;
  white-space: nowrap;
}

.text-3 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 121px;
  min-height: 12px;
  min-width: 27px;
  white-space: nowrap;
}

.text-4 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 114px;
  min-height: 12px;
  white-space: nowrap;
}

.title {
  left: 139px;
  letter-spacing: 0;
  line-height: 33px;
  position: fixed;
  top: 289px;
  white-space: nowrap;
  z-index: 1;
}

.graph {
  left: 139px;
  letter-spacing: 0;
  line-height: 33px;
  position: fixed;
  top: 289px;
  white-space: nowrap;
  z-index: 2;
}

.x29::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2.78px;
  margin-top: 409px;
  min-height: 192px;
  overflow-y: scroll;
  padding: 0 0.0px;
  position: relative;
  width: 295px;
  z-index: 10;
}

.x4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 98px;
  min-height: 174px;
  position: relative;
  width: 295px;
}

.flex-row-5 {
  align-items: flex-start;
  display: flex;
  margin-right: 2.78px;
  margin-top: 2px;
  min-width: 81px;
}

.hearticonpalepink {
  height: 15px;
  margin-top: 0.5px;
  object-fit: cover;
  width: 15px;
}

.overlap-group8 {
  height: 20px;
  margin-left: 8px;
  position: relative;
  width: 58px;
}

.tttt {
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.hearticonpalepink-1 {
  height: 15px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 15px;
}

