.avatar-10 {
  align-items: flex-start;
  display: flex;
  height: 103px;
  justify-content: center;
  left: 0;
  min-width: 102px;
  position: absolute;
  top: 26px;
}

.overlap-group-6 {
  align-items: flex-start;
  background-image: url(/img/file---5@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 148px;
  justify-content: flex-end;
  margin-top: -22.5px;
  min-width: 147px;
  padding: 34.5px 40.5px;
}

.x3 {
  height: 69px;
  object-fit: cover;
  width: 65px;
}

.avatar-10.avatar .overlap-group-6,
.avatar-10.avatar-1 .overlap-group-6,
.avatar-10.avatar-2 .overlap-group-6,
.avatar-10.avatar-3 .overlap-group-6,
.avatar-10.avatar-4 .overlap-group-6,
.avatar-10.avatar-5-2 .overlap-group-6,
.avatar-10.avatar-6-2 .overlap-group-6,
.avatar-10.avatar-7-2 .overlap-group-6,
.avatar-10.avatar-8-2 .overlap-group-6,
.avatar-10.avatar-6 .overlap-group-6,
.avatar-10.avatar-7 .overlap-group-6,
.avatar-10.avatar-8 .overlap-group-6 {
  height: 223px;
  margin-top: -60px;
  min-width: 222px;
  padding: 72px 78px;
}

.avatar-10.avatar-9,
.avatar-10.avatar-9-1,
.avatar-10.avatar-9-2,
.avatar-10.avatar-9-3,
.avatar-10.avatar-9-4,
.avatar-10.avatar-9-5,
.avatar-10.avatar-9-6,
.avatar-10.avatar-9-7,
.avatar-10.avatar-9-8 {
  height: 42px;
  justify-content: unset;
  min-width: 42px;
  top: 11px;
}

.avatar-10.avatar-9-1 .overlap-group-6,
.avatar-10.avatar-9-2 .overlap-group-6,
.avatar-10.avatar-9-3 .overlap-group-6,
.avatar-10.avatar-9-4 .overlap-group-6,
.avatar-10.avatar-9-5 .overlap-group-6,
.avatar-10.avatar-9-6 .overlap-group-6,
.avatar-10.avatar-9-8 .overlap-group-6 {
  background-image: url(..//img/file---5@1x.png);
  height: 87px;
  margin-left: -22px;
  min-width: 87px;
  padding: 27.5px 30.2px;
}

.avatar-10.avatar-9-1 .x3,
.avatar-10.avatar-9-2 .x3,
.avatar-10.avatar-9-3 .x3,
.avatar-10.avatar-9-4 .x3,
.avatar-10.avatar-9-5 .x3,
.avatar-10.avatar-9-6 .x3,
.avatar-10.avatar-9-7 .x3,
.avatar-10.avatar-9-8 .x3,
.avatar-10.avatar-9 .x3 {
  height: 28px;
  width: 26px;
}

.avatar-10.avatar-9-7 .overlap-group-6,
.avatar-10.avatar-9 .overlap-group-6 {
  background-image: url(..//img/file---5@1x.png);
  height: 162px;
  margin-left: -60px;
  margin-top: -60.0px;
  min-width: 162px;
  padding: 65.0px 67.7px;
}

.avatar-10.avatar-5-3 .overlap-group-6 {
  background-image: url(..//img/file---5@1x.png);
  height: 193px;
  margin-top: -45px;
  min-width: 192px;
  padding: 57px 63px;
}

.avatar-10.avatar-5 .overlap-group-6 {
  background-image: url(..//img/file---5@1x.png);
  height: 133px;
  margin-top: -15px;
  min-width: 132px;
  padding: 27px 33px;
}

