.avatar-1 {
  align-items: flex-start;
  display: flex;
  height: 103px;
  justify-content: center;
  margin-top: 2px;
  min-width: 102px;
}

.overlap-group-5 {
  align-items: flex-start;
  background-image: url(..//img/file---5@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 148px;
  justify-content: flex-end;
  margin-top: -22.5px;
  min-width: 147px;
  padding: 34.5px 40.5px;
}

.x3 {
  height: 69px;
  object-fit: cover;
  width: 65px;
}

.avatar-1.avatar-7 .overlap-group-5,
.avatar-1.avatar .overlap-group-5 {
  height: 223px;
  margin-top: -60px;
  min-width: 222px;
  padding: 72px 78px;
}

