.back {
  background-position: 50% 50%;
  background-size: cover;
  height: 25px;
  margin-bottom: 22.77px;
  width: 15px;
}

.back.forward {
  margin-left: 39px;
}

.back.back-1 {
  left: 34px;
  margin-bottom: unset;
  position: fixed;
  top: 104px;
  z-index: 7;
}

.back.forward-1 {
  left: 327px;
  margin-bottom: unset;
  position: fixed;
  top: 104px;
  z-index: 8;
}

.back.back-2 {
  left: 34px;
  margin-bottom: unset;
  position: fixed;
  top: 104px;
  z-index: 3;
}

.back.forward-2 {
  left: 327px;
  margin-bottom: unset;
  position: fixed;
  top: 104px;
  z-index: 4;
}

