.waitingactivity1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.heart {
  align-items: flex-start;
  display: flex;
  margin-top: 303px;
  min-width: 123px;
  z-index: 1;
}

.heart-1 {
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 123px;
  width: 123px;
}

.heart-1 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.heart-1 img {
  object-fit: cover;
}

