.fail {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.try-again {
  color: var(--mountain-mist);
  font-family: var(--font-family-sfpro_text-regular);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 132px;
  margin-top: 390px;
  min-height: 32px;
  width: 123px;
  z-index: 1;
}

