.avatar-8 {
  background-color: var(--sundown);
  border-radius: 51px/51.5px;
  box-shadow: 0px 3px 40px #fab2b7;
  display: flex;
  height: 103px;
  margin-top: 2px;
  width: 102px;
}

.x3-9 {
  flex: 1;
  height: 69px;
  margin-left: 19px;
  margin-right: 18px;
  margin-top: 12px;
  object-fit: cover;
}

