.textinputactivity1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  position: relative;
  width: 375px;
}

.simplified-header-6 {
  align-items: flex-start;
  display: flex;
  min-width: 375px;
  z-index: 2;
}

.overlap-group-15 {
  height: 90px;
  position: relative;
  width: 375px;
}

.x20-6 {
  height: 21px;
  left: 338px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 25px;
}

.x19-6 {
  cursor: pointer;
  height: 25px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 22px;
}

.x30::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  min-height: 465px;
  overflow-y: scroll;
  width: 305px;
  z-index: 6;
}

.overlap-group1-4 {
  height: 446px;
  position: relative;
  width: 305px;
}

.x274 {
  display: flex;
  flex-direction: column;
  height: 446px;
  left: 0;
  position: absolute;
  top: 0;
  width: 305px;
}

.x90,
.x90-1,
.x90-2,
.x90-3 {
  background-color: var(--white);
  border-radius: 26px;
  flex: 1;
  margin-top: 19.5px;
}

.paste-your-message-contexts {
  background-color: transparent;
  border: 0;
  height: 388px;
  left: 14px;
  letter-spacing: 0;
  line-height: 15px;
  padding: 0;
  position: absolute;
  top: 54px;
  width: 280px;
}

.paste-your-message-contexts::placeholder {
  color: #93939a99;
}

.overlap-group-14 {
  height: 446px;
  margin-top: 65px;
  position: relative;
  width: 305px;
}

.overlap-group5 {
  height: 67px;
  margin-left: 1.0px;
  margin-top: 10px;
  position: relative;
  width: 344px;
  z-index: 1;
}

