.finalscoreactivity-1 {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  min-height: 812px;
  min-width: 375px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.x15::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x15 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-top: 90px;
  min-width: 100%;
  overflow: scroll;
  z-index: 2;
}

.x106 {
  display: flex;
  height: 826px;
  margin-top: -282px;
  width: 952px;
}

.x105 {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 952px;
}

.overlap-group13 {
  align-self: flex-end;
  height: 821px;
  position: relative;
  width: 832px;
}

.overlap-group {
  border-radius: 345.5px;
  height: 691px;
  left: 94px;
  position: absolute;
  top: 63px;
  width: 691px;
}

.x4 {
  background-color: var(--sundown);
  border-radius: 239.5px;
  filter: blur(12.11px);;
  height: 479px;
  left: 118px;
  opacity: 0.5;
  position: absolute;
  top: 106px;
  width: 479px;
}

.x5 {
  background-color: var(--sundown);
  border-radius: 345.5px;
  filter: blur(12.11px);;
  height: 691px;
  left: 0;
  opacity: 0.26;
  position: absolute;
  top: 0;
  width: 691px;
}

.overlap-group1 {
  height: 129px;
  left: 174px;
  position: absolute;
  top: 91px;
  width: 102px;
}

.place {
  left: 18px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overlap-group2 {
  height: 129px;
  left: 212px;
  position: absolute;
  top: 564px;
  width: 102px;
}

.overlap-group3 {
  height: 129px;
  left: 43px;
  position: absolute;
  top: 346px;
  width: 102px;
}

.overlap-group4 {
  height: 129px;
  left: 0;
  position: absolute;
  top: 645px;
  width: 102px;
}

.overlap-group5 {
  height: 129px;
  left: 400px;
  position: absolute;
  top: 337px;
  width: 102px;
}

.me {
  left: 33px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overlap-group6 {
  height: 130px;
  left: 652px;
  position: absolute;
  top: 91px;
  width: 102px;
}

.jimin {
  left: 20px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overlap-group7 {
  height: 129px;
  left: 515px;
  position: absolute;
  top: 245px;
  width: 102px;
}

.overlap-group9 {
  height: 129px;
  left: 470px;
  position: absolute;
  top: 558px;
  width: 102px;
}

.overlap-group10 {
  height: 129px;
  left: 419px;
  position: absolute;
  top: 0;
  width: 102px;
}

.overlap-group11 {
  height: 129px;
  left: 730px;
  position: absolute;
  top: 692px;
  width: 102px;
}

.overlap-group8 {
  height: 129px;
  margin-bottom: 85.0px;
  margin-left: 18px;
  position: relative;
  width: 102px;
}

.hooder {
  align-items: flex-start;
  background-color: var(--white-2);
  display: flex;
  flex: 1;
  height: 88px;
  margin-bottom: -5px;
  margin-left: -4px;
  margin-right: -2px;
  max-height: 88px;
  min-width: calc(100.00% + 6px);
  opacity: 0.72;
  padding: 10.4px 13px;
  position: relative;
  z-index: 3;
}

