.x68-1,
.x68-2,
.x68-3,
.x68-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4.78px;
  min-height: 44px;
  position: relative;
  width: 66px;
}

.x6-2,
.x6-3,
.x6-4,
.x6-5 {
  height: 28px;
  margin-left: 0.73px;
  object-fit: cover;
  width: 30px;
}

