.login-2 {
  display: flex;
  height: 44px;
  left: 150px;
  position: absolute;
  top: 13px;
  width: 44px;
}

.buttons-label-light-1 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  min-width: 44px;
  padding: 10.5px 3px;
}

.label-2 {
  letter-spacing: -0.41px;
  line-height: 22px;
  min-height: 19px;
  min-width: 36px;
  text-align: center;
  white-space: nowrap;
}

.login-2.login-3 {
  opacity: 0.6;
}

.login-2.login-4 {
  background-color: var(--new-york-pink);
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
  left: 0;
  top: 0;
  width: 344px;
}

.login-2.login-4 .buttons-label-light-1 {
  align-items: unset;
  justify-content: unset;
  margin-bottom: 3px;
  margin-left: 150px;
  margin-top: 3px;
  min-width: unset;
  padding: unset;
  width: 45px;
}

.login-2.login-4 .label-2 {
  flex: 1;
  height: 22px;
  margin-left: 1px;
  margin-right: -1px;
  margin-top: 11px;
  min-height: unset;
  min-width: unset;
}

