.x70 {
  align-items: flex-end;
  display: flex;
  margin-left: 98px;
  min-width: 53px;
}

.overlap-group2-1 {
  height: 46px;
  position: relative;
  width: 55px;
}

.message-mark {
  display: flex;
  height: 17px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 55px;
}

.message {
  flex: 1;
  letter-spacing: 0;
  line-height: 13px;
  margin-bottom: -4px;
  margin-right: -2px;
  margin-top: 2px;
  white-space: nowrap;
  width: 55px;
}

.x8 {
  height: 30px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}

.x70.x70-2,
.x70.x70-3,
.x70.x70-4,
.x70.x70-5,
.x70.x70-6,
.x70.x70-7,
.x70.x70-9,
.x70.x70-11,
.x70.x70-12 {
  margin-left: 99px;
}

.x70.x70-10 {
  margin-left: 101px;
}

