.x69-1 {
  display: flex;
  flex-direction: column;
  height: 44px;
  justify-content: space-between;
  margin-left: 91px;
  margin-top: 2.73px;
  position: relative;
  width: 38px;
}

.x7-1 {
  flex: 1;
  height: 28.12px;
  margin-left: 4px;
  margin-right: 3.6px;
  margin-top: 0;
  max-height: 28.12px;
  object-fit: cover;
}

.x69-1.x69-2 .x7-1 {
  height: 28.12px;
  max-height: 28.12px;
}

.x69-1.x69-4 {
  margin-left: 90px;
}

