.main {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.overlap-group11-5 {
  height: 725px;
  margin-left: -0.5px;
  margin-top: 90px;
  position: relative;
  width: 378px;
}

.x14-2::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x14-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 639px;
  overflow: scroll;
  position: absolute;
  top: 0;
  width: 376px;
}

.flex-row-22 {
  align-items: flex-start;
  display: flex;
  height: 683px;
  margin-right: -129.0px;
  margin-top: -224px;
  min-width: 790px;
}

.flex-col-31 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 633px;
  width: 647px;
}

.x271 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 134px;
  margin-left: 79.0px;
  min-width: 102px;
}

.overlap-group-52 {
  height: 129px;
  position: relative;
  width: 102px;
}

.place-11 {
  left: 18px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.flex-row-23 {
  align-items: center;
  display: flex;
  height: 480px;
  margin-top: 19px;
  min-width: 647px;
}

.x270 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 134px;
  margin-top: 90.0px;
  min-width: 102px;
}

.flex-col-32 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 118px;
  min-height: 480px;
  width: 296px;
}

.flex-row-24 {
  align-items: center;
  display: flex;
  height: 329px;
  min-width: 296px;
}

.x266 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 134px;
  margin-top: 29.0px;
  min-width: 102px;
}

.flex-col-33 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  min-height: 329px;
  width: 162px;
}

.link {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 134px;
  min-width: 102px;
}

.x263 {
  align-items: flex-end;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  height: 134px;
  margin-top: 61px;
  min-width: 102px;
}

.me-9 {
  left: 33px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overlap-group2-25 {
  height: 129px;
  margin-left: 44.0px;
  margin-top: 22px;
  position: relative;
  width: 102px;
}

.flex-col-34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  margin-top: 65.0px;
  min-height: 343px;
  width: 122px;
}

.x268 {
  align-items: flex-end;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  height: 134px;
  margin-top: 75px;
  min-width: 102px;
}

.x272 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 134px;
  margin-left: 41px;
  min-width: 102px;
}

.overlap-group6-9 {
  height: 129px;
  margin-right: -120.0px;
  margin-top: 35px;
  position: relative;
  width: 102px;
}

