.main {
  background-color: var(--white);
  display: flex;
  height: 100vh;
  min-height: 812px;
  min-width: 375px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.x14::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x14 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 83px;
  margin-left: -0.5px;
  margin-top: 90px;
  min-height: calc(100.00% - 173px);
  overflow: scroll;
  position: relative;
  width: 375.5px;
  z-index: 1;
}

.flex-row-1 {
  align-items: flex-end;
  display: flex;
  height: 677px;
  margin-right: -129.0px;
  margin-top: -218px;
  min-width: 790px;
  position: relative;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 627px;
  position: relative;
  width: 516px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 346px;
  margin-top: 25px;
  min-width: 516px;
  position: relative;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  min-height: 323px;
  position: relative;
  width: 162px;
}

.x263 {
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 67px;
  min-height: 128px;
  position: relative;
  width: 102px;
}

.me {
  color: var(--sundown);
  font-family: var(--font-family-meiryo-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 21px;
  margin-right: 5.0px;
  min-height: 23px;
  min-width: 31px;
  white-space: nowrap;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  margin-left: 9px;
  min-height: 337px;
  position: relative;
  width: 122px;
}

