.hooder-message {
  display: flex;
  height: 88px;
  left: 0;
  position: fixed;
  top: 724px;
  width: 375px;
  z-index: 7;
}

.hooder-6 {
  align-items: flex-start;
  background-color: var(--white-2);
  display: flex;
  flex: 1;
  min-width: 375px;
  opacity: 0.72;
  padding: 10.4px 11px;
}

.x68-6 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 4.78px;
  min-height: 44px;
  position: relative;
  width: 66px;
}

.x6-14 {
  height: 28px;
  margin-left: 0.73px;
  object-fit: cover;
  width: 30px;
}

.x69-5 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 44px;
  justify-content: space-between;
  margin-left: 90px;
  margin-top: 2.73px;
  position: relative;
  width: 38px;
}

.x7-2 {
  flex: 1;
  height: 28.12px;
  margin-left: 4px;
  margin-right: 3.6px;
  margin-top: 0;
  max-height: 28.12px;
  object-fit: cover;
}

.x70-6 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 46px;
  justify-content: space-between;
  margin-left: 96px;
  width: 57px;
}

.x8-3 {
  height: 30.71px;
  margin-right: 11.0px;
  margin-top: -0.5px;
  object-fit: cover;
  width: 33.11px;
}

.message-mark-6 {
  display: flex;
  flex: 1;
  height: 15px;
  max-height: 15px;
}

.message-6 {
  flex: 1;
  letter-spacing: 0;
  line-height: 13px;
  margin-bottom: -3px;
  margin-right: -2px;
  margin-top: 1px;
  white-space: nowrap;
  width: 59px;
}

