.buttons-label-light-3-1 {
  display: flex;
  width: 44px;
}

.label-3 {
  flex: 1;
  height: 24px;
  letter-spacing: -0.41px;
  line-height: 22px;
  margin-left: 5px;
  margin-right: 3px;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
}

.buttons-label-light-3-1.buttons-label-light-4 {
  align-items: flex-end;
  height: 54px;
  justify-content: flex-end;
  margin-left: 150px;
  min-width: 44px;
  padding: 0 3px;
  width: unset;
}

.buttons-label-light-3-1.buttons-label-light-4 .label-3 {
  flex: unset;
  height: unset;
  margin-bottom: -2px;
  margin-left: unset;
  margin-right: unset;
  margin-top: unset;
  min-height: 46px;
  min-width: 36px;
}

