.explanation4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.overlap-group7-4 {
  height: 639px;
  margin-left: -4px;
  margin-top: 90px;
  position: relative;
  width: 381px;
  z-index: 1;
}

.x17-2 {
  background-color: var(--nobel);
  cursor: pointer;
  height: 639px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 381px;
}

.x3-72 {
  background-color: var(--white);
  border-radius: 160.5px/98.5px;
  filter: blur(16.31px);;
  height: 197px;
  left: 31px;
  opacity: 0.8;
  position: absolute;
  top: 409px;
  width: 321px;
}

.text-5 {
  left: 102px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 478px;
  white-space: nowrap;
}

.x19-1 {
  height: 23px;
  left: 180px;
  object-fit: cover;
  position: absolute;
  top: 594px;
  width: 23px;
}

