.explanation3 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.overlap-group7-2 {
  height: 639px;
  margin-top: 90px;
  position: relative;
  width: 377px;
}

.x17-1 {
  background-color: var(--nobel);
  cursor: pointer;
  height: 639px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 377px;
}

.x15 {
  height: 31px;
  left: 312px;
  object-fit: cover;
  position: absolute;
  top: 581px;
  width: 27px;
}

.x3-71 {
  background-color: var(--white);
  border-radius: 160.5px/98.5px;
  filter: blur(16.305200576782227px);;
  height: 197px;
  left: 27px;
  opacity: 0.8;
  position: absolute;
  top: 409px;
  width: 321px;
}

.text-4 {
  left: 42px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 454px;
  white-space: nowrap;
}

