.login {
  display: flex;
  height: 44px;
  left: 150px;
  position: absolute;
  top: 13px;
  width: 44px;
}

.login.login-1 {
  opacity: 0.6;
}

.login.login-2 {
  background-color: var(--new-york-pink);
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
  left: 0;
  top: 0;
  width: 344px;
}

