.simplified-header {
  align-items: flex-start;
  display: flex;
  height: 90px;
  left: 0;
  min-width: 375px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.overlap-group-15 {
  height: 90px;
  position: relative;
  width: 375px;
}

.x20 {
  height: 21px;
  left: 338px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 25px;
}

.x19 {
  cursor: pointer;
  height: 25px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 22px;
}

.simplified-header.simplified-header-1 {
  left: 1px;
}

.simplified-header.simplified-header-1 .x19,
.simplified-header.simplified-header-2 .x19,
.simplified-header.simplified-header-3 .x19,
.simplified-header.simplified-header-4 .x19,
.simplified-header.simplified-header-5 .x19,
.simplified-header.simplified-header-6 .x19,
.simplified-header.simplified-header-7 .x19,
.simplified-header.simplified-header-8 .x19,
.simplified-header.simplified-header-9 .x19 {
  cursor: unset;
}

.simplified-header.simplified-header-8,
.simplified-header.simplified-header-9 {
  z-index: 3;
}

