.simplified-header {
  align-items: flex-start;
  display: flex;
  height: 90px;
  left: 0;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.overlap-group1-1 {
  height: 90px;
  position: relative;
  width: 375px;
}

.x20-2 {
  height: 21px;
  left: 338px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 25px;
}

.x19-1 {
  cursor: pointer;
  height: 25px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 22px;
}

.simplified-header.simplified-header-1 {
  min-width: 375px;
  z-index: 3;
}

.simplified-header.simplified-header-1 .x19-1,
.simplified-header.simplified-header-2 .x19-1,
.simplified-header.simplified-header-4 .x19-1 {
  cursor: unset;
}

.simplified-header.simplified-header-2,
.simplified-header.simplified-header-3 {
  min-width: 375px;
}

.simplified-header.simplified-header-4 {
  left: 1px;
  min-width: 375px;
}

