.login {
  align-items: flex-start;
  bottom: calc(17.19% - 9px);
  cursor: pointer;
  display: flex;
  height: 50px;
  min-width: 344px;
  position: fixed;
  right: calc(48.39% - 166px);
}

.overlap-group-1 {
  border-radius: 8px;
  height: 50px;
  position: relative;
  width: 344px;
}

.button-backgrounds-black {
  background-color: var(--new-york-pink);
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 344px;
}

.buttons-label-light {
  display: flex;
  height: 44px;
  left: 150px;
  position: absolute;
  top: 3px;
  width: 46px;
}

.label {
  flex: 1;
  height: 22px;
  letter-spacing: -0.41px;
  line-height: 22px;
  margin-right: -2px;
  margin-top: 11px;
  text-align: center;
  white-space: nowrap;
}

