.put-person-name-1 {
  align-items: flex-end;
  display: flex;
  height: 26px;
  margin-left: 1.78px;
  margin-top: 165px;
  min-width: 297px;
  z-index: 4;
}

.overlap-group1-2 {
  height: 28px;
  margin-bottom: -1.5px;
  position: relative;
  width: 297px;
}

.x5-2 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 295px;
}

.place-3 {
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 0;
  width: 297px;
}

.put-person-name-1.put-person-name {
  margin-top: 12px;
  z-index: unset;
}

