.explanation2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.overlap-group7-1 {
  height: 722px;
  margin-top: 90px;
  position: relative;
  width: 377px;
  z-index: 1;
}

.x17 {
  background-color: var(--nobel);
  cursor: pointer;
  height: 639px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 377px;
}

.x3-30 {
  background-color: var(--white);
  border-radius: 160.5px/98.5px;
  filter: blur(16.31px);;
  height: 197px;
  left: 27px;
  opacity: 0.8;
  position: absolute;
  top: 409px;
  width: 321px;
}

.x16 {
  height: 32px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 581px;
  width: 29px;
}

.text-3 {
  left: 53px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 461px;
  white-space: nowrap;
}

