.explanation-1 {
  align-items: flex-start;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.overlap-group12-2 {
  height: 639px;
  margin-top: 90px;
  position: relative;
  width: 387px;
  z-index: 1;
}

.x13::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x13 {
  align-items: flex-start;
  display: flex;
  height: 639px;
  left: 0;
  min-width: 387px;
  overflow: scroll;
  position: absolute;
  top: 0;
}

.flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -54px;
  margin-top: -30px;
  min-height: 475px;
  width: 291px;
}

.flex-row {
  align-items: center;
  display: flex;
  height: 324px;
  min-width: 291px;
}

.overlap-group6-4 {
  height: 129px;
  margin-top: 29.0px;
  position: relative;
  width: 102px;
}

.place-1 {
  left: 18px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  min-height: 324px;
  width: 160px;
}

.overlap-group-25 {
  height: 129px;
  position: relative;
  width: 102px;
}

.overlap-group10-1 {
  align-self: flex-end;
  height: 129px;
  margin-top: 66px;
  position: relative;
  width: 102px;
}

.me-1 {
  left: 33px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overlap-group8-1 {
  height: 129px;
  margin-left: 44px;
  margin-top: 22px;
  position: relative;
  width: 102px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 71px;
  min-height: 334px;
  width: 162px;
}

.overlap-group7-1 {
  align-self: flex-end;
  height: 129px;
  margin-top: 76px;
  position: relative;
  width: 102px;
}

.text-2 {
  left: 64px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 446px;
  white-space: nowrap;
}

