.hooder-score {
  display: flex;
  height: 88px;
  left: 0;
  position: fixed;
  top: 727px;
  width: 377px;
  z-index: 3;
}

.hooder-5 {
  align-items: flex-start;
  background-color: var(--white-2);
  display: flex;
  flex: 1;
  min-width: 377px;
  opacity: 0.72;
  padding: 10.4px 13px;
  position: relative;
}

.hooder-score.hooder-score-1 {
  left: -2px;
  top: 724px;
}

.hooder-score.hooder-score-2 {
  left: -1px;
  top: 724px;
}

