.hooder-score {
  display: flex;
  height: 88px;
  left: 4px;
  position: absolute;
  top: 637px;
  width: 377px;
}

.hooder-8 {
  align-items: flex-start;
  background-color: var(--white-2);
  display: flex;
  height: 88px;
  min-width: 377px;
  opacity: 0.72;
  padding: 10.4px 13px;
}

.hooder-score.hooder-score-1 {
  left: 0;
  top: 634px;
}

.hooder-score.hooder-score-2 {
  left: 2px;
  top: 634px;
}

.hooder-score.hooder-score-3,
.hooder-score.hooder-score-4 {
  left: 0;
}

