.x68 {
  align-items: flex-end;
  display: flex;
  margin-top: 4.78px;
  min-width: 62px;
}

.overlap-group-12 {
  height: 44px;
  position: relative;
  width: 64px;
}

.event-mark {
  display: flex;
  height: 17px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 64px;
}

.heart-rate {
  flex: 1;
  letter-spacing: 0;
  line-height: 13px;
  margin-bottom: -4px;
  margin-right: -2px;
  margin-top: 2px;
  text-align: center;
  white-space: nowrap;
  width: 64px;
}

.x6-10 {
  height: 28px;
  left: 17px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 30px;
}

.x68.x68-1 .x6-10,
.x68.x68-2 .x6-10,
.x68.x68-3 .x6-10,
.x68.x68-4 .x6-10,
.x68.x68-5 .x6-10,
.x68.x68-6 .x6-10,
.x68.x68-9 .x6-10,
.x68.x68-11 .x6-10 {
  left: 16px;
}

.x68.x68-7,
.x68.x68-8,
.x68.x68-9,
.x68.x68-10,
.x68.x68-11 {
  align-items: flex-start;
}

.x68.x68-7 .overlap-group-12,
.x68.x68-8 .overlap-group-12,
.x68.x68-9 .overlap-group-12,
.x68.x68-10 .overlap-group-12,
.x68.x68-11 .overlap-group-12 {
  margin-top: 0;
}

