.simplified-header-10 {
  align-items: flex-start;
  display: flex;
  height: 90px;
  left: 0;
  min-width: 375px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.overlap-group6-4 {
  height: 90px;
  position: relative;
  width: 375px;
}

.overlap-group6-item {
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.x20-11 {
  height: 21px;
  left: 338px;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 25px;
}

.x19-10 {
  height: 25px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 54px;
  width: 22px;
}

.simplified-header-10.simplified-header-13 {
  min-width: 100%;
}

.simplified-header-10.simplified-header-13 .x19-10,
.simplified-header-10.simplified-header-14 .x19-10,
.simplified-header-10.simplified-header-15 .x19-10 {
  cursor: pointer;
}

.simplified-header-10.simplified-header-14 {
  left: 1px;
}

.simplified-header-10.simplified-header-15 {
  z-index: 5;
}

