.x69-1 {
  align-items: flex-end;
  display: flex;
  margin-left: 94px;
  margin-top: 2.73px;
  min-width: 34px;
}

.overlap-group1-7 {
  height: 44px;
  position: relative;
  width: 36px;
}

.x7-6 {
  height: 28px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 30px;
}

.x69-1.x69-3 {
  margin-left: 95px;
}

